.fondo {
	background-image: url('https://www.wallpapertip.com/wmimgs/14-144299_wallpapers-pokemon-hd-taringa-all-pokemon.jpg') !important;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}